/*Hola! Este es mi Examen Práctico Final (Lucía Alvarez, Camada 10) 
Espero le guste.
Resolución Desktop 1440px
Resolución Movile 425px
*/
* {
    margin: 0%;
    padding: 0%;
}

.margin-layout {
    margin: 0 11.5%;
}

.logo::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #f3603b;
    bottom: 14px;
    right: 9px;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5% !important;
}


header div:not(:nth-child(2)) {
    margin-right: 0%;
    margin-left: 0%;
}
header>div:nth-child(4){
    display: none;
}

header div ul {
    display: flex;
    justify-content: space-between;


}

header ul li {
    height: 19px;
    font-family: 'Be Vietnam Pro';
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #242E52;


}
header ul li a{
    text-decoration: none;
    color: inherit;
}

header ul li:not(:last-child) {
    margin-right: 28px;
}

header button {
    width: 134px;
}

.botones {
    width: 134px;
    align-items: center;
    padding: 10px;
    height: 44px;
    box-shadow: 0px 4px 7px rgb(0 0 0 / 25%);
    border-radius: 50px;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    align-items: center;
    background: #F3603B;
    color: white;
    border: none;

    transition-property: background , color;
    transition-duration: 250ms;
    transition-timing-function: linear;
}

#first {
    margin: 2.5% 11.5%;
    display: flex;
}

div.layout {
    height: inherit;
    flex: 1;
}

#titulo {
    padding: 6% 0% 0px 0px;
}
#titulo p{
    width: 67%;
}

h1 {
    color: #232C50;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 66px;
    letter-spacing: -0.035em;

}

.paragraphTypo {
    margin-top: 28px;
    font-family: 'Be Vietnam Pro';
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;
    margin-bottom: 40.5px;
}


#second {
    margin: 2.5% 11.5%;
    display: flex;
}

#titulo2 p{
    width: 65%;

}

h2 {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;

    align-items: center;
    color: #242E53;
}

#titulo-different {
    position: static;
    left: 0px;
    top: 0px;
    line-height: 114.6%;
    color: #232851;
}

#lista {}


#lista ul li div.header-list {
    display: flex;
    align-items: center;
}

#lista ul li h4 {
    width: 50%;
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.015em;
    color: #323851;

}

#lista ul li p.GreyTypo {
    margin-left: 16.3%;
}

.GreyTypo {
    margin-left: 15%;
    position: static;
    width: 85%;
    height: 104px;
    left: 0px;
    top: 47.5px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
    display: inline-block;
    align-items: center;
    letter-spacing: -0.01em;
    color: #B3B2B7;

}

#comments {
    margin: 0 4.9% 180px 6.4%;
}

#comments>div.comments {
    display: flex;
    text-align: center;
    margin-bottom: 57.5px;
}

#comments .comment-card {
    flex: 1;
    background-color: #FAFAFA;
    height: inherit;
    text-align: center;

}

.comments .comment-card img {
    margin-top: -63px;
    margin-bottom: 21px;
}

#comments .comment-card h4 {
    height: 25px;
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 16.0714px;
    line-height: 156.6%;
    letter-spacing: -0.01em;
    color: #3F4868;
}

#comments .comment-card p {
    margin: 0 2.8%;
    width: inherit;
    text-align: center;
    margin: 21px 4.9% 38.5px 3%;
}

#comment2 {
    flex: 1;
    background-color: chartreuse;
    height: inherit;
}

#comments h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 61px;
    line-height: 156.6%;
    letter-spacing: -0.01em;
    margin-bottom: 109px;

}

#comment3 {
    flex: 1;
    background-color: darkgreen;
    height: inherit;
}

#boton3 {
    display: block;
    margin: auto;
}

#orange {
    margin: 0;
    background-color: #F3613C;
}

#orange > div {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.botones-invertido {
    background-color: white !important;
    color: #F3603B !important;
}

.botones-invertido:hover{
    background-color: #F3603B !important;
    color: white !important;
}



#orange p {
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    width: 50%;

}

footer {
    margin-top: 0;
    background-color: #1E1E26;
    padding: 53px 0;
}

footer section {
    height: inherit;
    display: flex;
    justify-content: space-between;
}


footer section.margin-layout>div {
    /* display: flex;
    /* align-items: end; */
    /* justify-content: end;  */
}

footer section div.social-networks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer section div.social-networks img {
    height: auto;
    width: 88%;
}

footer section div.social-networks i {
    font-size: 20px;
}

footer section div.social-networks i:not(:last-child) {
    margin-right: 13px;
}

 ul {
    color: white;
}

footer .links-container {
    display: flex ;
    justify-content: space-around;
}
footer section >div:nth-child(2) {
 flex: 2;
 width: 375px;
}

ul.links-footer>li:not(:last-child) {
    margin-bottom: 12px;
}

div.contact-us form button.botones {
    width: 63px;
    height: 42px;
}


div.contact-us form input {
    border-radius: 50px;
    border: none;
    padding: 0px 8px;
    margin-right: 9px;
    ;
}

div.contact-us form {
    display: flex;
    height: 44px;
    margin-right: 20p;
}

h6 {
    display: block;
    text-align: end;
    height: 19.85px;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    color: #8C8C94;

}

#graficos  img{
    width: 100%;
}

.botones:hover{
    background: white;
    color:  #F3603B;
    cursor: pointer;
}

@media screen and (max-width:1024px) {

    #first {
        flex-direction: column;
        margin-bottom: 50px;
    }

    #titulo {
        order: 2;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #titulo p{
        width: 100%;
    }

    #graficos {
        order: 1
    }

    #graficos img {
        display: block;
        margin: auto;
    }

    #second {
        flex-direction: column;
    }

    header>div:nth-child(2),
    header>div:nth-child(3) {
        display: none;
    }
    header>div:nth-child(4){
        display: block;
    }
    #titulo2 p{
        width: 100%;
    }

    #comments div.comment-card:nth-child(3),
    div.comment-card:nth-child(1) {
        display: none;
    }

    #orange div:first-child {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    #orange div p {
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
    }

    footer section {
        flex-direction: column;
        align-items: center;
    }

    footer section div.social-networks{
        order: 3;
        flex-direction: column-reverse ;
    }
    footer section .links-container{
        order: 2;
        margin-bottom: 40px;
    }
    
    footer section .contact-us{
        order: 1;
        margin-bottom: 40px;
        width: 375px;
    }

    footer section .contact-us form{
        width: 375px;
        justify-content: center;
    }
    footer section .contact-us form input{
        width: 211px;
    }

    footer section div.social-networks >div{
        margin-bottom: 50px;
    }

    footer section div.social-networks img{
        width: 100%;
    }

    h1 {
        font-size: 2.3rem;
        line-height: 42px; 
    }

    footer h6{
        text-align: center;
        margin-top: 50px !important ;
    }
    .paragraphTypo{
        color: #B3B2B7;
    }
}