*{
    margin: 0%;
    padding: 0%;
}
.margin-layout{
    margin: 2.5% 11.5%;
}
header{
    background-color: aqua;
    height: 100px;
}
#first{
    height: 328px;
    background-color: lightcoral;
    margin: 2.5% 11.5%;
}
#second{
    height: 358px;
    background-color: grey;
    margin: 2.5% 11.5%;
}
#comments{
    margin: 0 4.9% 0 6.4%;
    background-color:lightblue;
    height: 348px;

}
#orange{
    margin: 0;
    background-color:#F3613C;
    height: 224px;

}
footer{
    margin: 0;
    background-color: #1E1E26;;
    height: 247px;

}